*{
    font-family: Rubik, sans-serif;
}

.container{
    max-width: 1200px;
    position: relative;
    margin: 0 auto;
}

@import 'blocks/header';
  
@import 'blocks/promo';

@import 'blocks/opportunities';

body {
    margin: 0;
}

@import 'base/media';